---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Redirecting...">
  <meta slot="head" http-equiv="refresh" content="0; url=/2026" />
  <div style="background-color: black; color: lime;">
    <p style="display: grid; place-items: center; height: 100vh;">
      Redirecting to <a href="/2026">/2026</a>...
    </p>
  </div>
</BaseLayout>
